mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 300px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 300px;
}

mat-card{
    width: fit-content;
    margin: 20px;
}
mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

.flex-row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex: 50%;
    padding: 10px;
}