<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<h2>User Registration</h2>

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First Name</div>
      <div class="col-xs-9">{{ us.firstName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Last Name</div>
      <div class="col-xs-9">{{ us.lastName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9">{{ us.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Password</div>
      <div class="col-xs-9">{{ us.password }}</div>
    </div>
    <br>
</div>

<div [hidden]="submitted">
{{ us | json }} <!--REMOVE WHEN DONE DEBUGGING-->
<form (ngSubmit)="createuser()" #userForm="ngForm">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="us.firstName" name="user firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="us.lastName" name="user lastName">
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"  class="form-control" id="email"
              [(ngModel)]="us.email" name="email">
      </div>
      
      <div class="form-group">
          <label for="password">Password</label>
          <input type="text"  class="form-control" id="psw"
                [(ngModel)]="us.password" name="psw">
        </div>

        
      <div class="form-group">
         <label for="secQuestion1">Security Question 1</label>
         <select name="secQuestion1" id="secQuestion1" [(ngModel)]="us.secQuestion1">
          <option [ngValue]="null" disabled>Select Security Question</option>
          <option *ngFor="let secQuestion1 of questions1" [ngValue]="secQuestion1.id">{{secQuestion1.name}}</option>
         </select>
      </div>

      <div class="form-group">
          <label for="secAnswer1">Answer</label>
          <input type="text"  class="form-control" id="secAnswer1"
                [(ngModel)]="us.secAnswer1" name="secAnswer1">
      </div>

      <div class="form-group">
         <label for="secQuestion2">Security Question 2</label>
         <select name="secQuestion2" id="secQuestion2"  [(ngModel)]="us.secQuestion2">
          <option [ngValue]="null" disabled>Select Security Question</option>
          <option *ngFor="let secQuestion2 of questions2" [ngValue]="secQuestion2.id">{{secQuestion2.name}}</option>
         </select>
      </div>

      <div class="form-group">
          <label for="secAnswer2">Answer</label>
          <input type="text"  class="form-control" id="secAnswer2"
                [(ngModel)]="us.secAnswer2" name="secAnswer2">
      </div>

      

    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
</form>
</div>

</body>

</html>
